.navbar{
    background-color: rgb(235, 161, 173);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    text-align: center;
}

.navbar li{
    list-style-type: none;
    display: inline;
}

.navbar a{
    font-size: 48px;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(199, 220, 252);

}

.navbar a:hover{
    background-color:white;
    color:pink;
}


.welcome{
    background-color: rgb(230, 207, 210);
    color:white;
    padding: 100px 100px;
    text-align:center
}