.navbar{
    background-color: rgb(236, 182, 110);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    text-align: center;
}

.navbar li{
    list-style-type: none;
    display: inline;
}

.navbar a{
    font-size: 50px;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(245, 222, 121);

}

.navbar a:hover{
    background-color:rgb(196, 120, 50);
    color:rgba(29, 28, 28, 0.884);
}


body{
    margin: 0;
    padding: 0;
}

.welcome{
    background-color: rgb(226, 170, 86);
    color:white;
    padding: 10% 5%;
    text-align:center;
    display: box;
    font-size: 30px;
}

.contentA{
    background-color: rgb(187, 122, 24); 
    padding: 10% 5%;
    display: flex;
    text-align: center;
    flex-direction: column;

}

.contentA img{
    width: 50%;
    float: left;
}

.contentA p{
    text-align: right;
    padding-left: 10%;
    font-size: 3vw;
    color: white;
    display: inline;
    font-style: oblique;
}

.contentB img{
    padding: 10%;
    display: flex;
}

.contentB p{
    text-align: left;
    padding-right: 10%;
    font-size: 3vw;
    color: white;
    display: inline;
}